:root {
  --red: #dc3545;
}

.hint {
  border: 2px solid var(--red);
  border-radius: 3px;
  color: var(--red);
  padding: 0 3px;
  margin: 0 3px;
}

.hint-decent {
  color: var(--red);
}

/* Hide arrows of input[type="number"] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}